.container
	display block

@media (max-width: desktop-breakpoint)
	.container
		width 768px
		margin-x(auto)
		padding-x(20px)
		box-sizing border-box

@media (max-width: tablet-breakpoint)
	.container
		width 320px
