// Clear the float on any element.
clearfix()
	&:after
		display table
		clear both
		content ''

// Fix no working `-webkit-text-size-adjust: 100%;` in Android.
fix-text-size-adjust()
	background-image linear-gradient(transparent, transparent)

// Set element size
size($width, $height = $width)
	width $width
	height $height

// Set margin on left & right
margin-x($margin)
	margin-left $margin
	margin-right $margin

// Set margin on top & bottom
margin-y($margin)
	margin-top $margin
	margin-bottom $margin

// Set pading on left & right
padding-x($padding)
	padding-left $padding
	padding-right $padding

// Set padding on top & bottom
padding-y($padding)
	padding-top $padding
	padding-bottom $padding

// Set one static retina image
retinaBackground($image, $ext = 'png') {
	background-image url('../images/' + $image + '.' + $ext)

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background-image url('../images/' + $image + '@2x.' + $ext)
	}
}

pageHeaderStyle()
	font-family 'Exo 2', Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size 36px
	color white
	font-weight 100
	line-height 44px

headerBigStyle(subheader)
	font-weight bold
	color black
	if subheader
		font-size 24px
	else
		font-size 48px


pageTextStyle(alarm)
	font-size 16px
	if alarm
		color #E62E7A
	else
		color #666666

pageTextSmallStyle()
	font-size 14px
	color #666666

pageTextColorStyle(color)
	font-size 13px
	color color

pageTextWhiteStyle()
	font-size 13px
	color white

pageTextDecorateStyle(small)
	color white
	if small
		font-size 21px
	else
		font-size 42px

pageTextDisabled()
	color #B3B3B3

