include ../blocks/cards/cards
include ../blocks/link/link
include ../blocks/container/container
extends ../blocks/layout-default/layout-default

block head
	- var pageTitle = 'Fun Box Cats';

block content
	+container.MAIN
		+e.H1.__title Ты сегодня покормил кота?
		+cards()
