.text
	display block

	&--page-header
		pageHeaderStyle()
		text-align center
		margin-bottom 26px

	&--basic
		pageTextStyle(false)

	&--alarm
		pageTextStyle(true)

	&--header-big
		headerBigStyle(false)

	&--sub-header-big
		headerBigStyle(true)

	&--small
		pageTextSmallStyle()

	&--white
		pageTextColorStyle(white)

	&--yellow
		pageTextColorStyle(#FFFF66)

	&--disabled
		pageTextDisabled()
