mixin text(type)
	if type === 'h1'
		+b.H1.text&attributes(attributes)
			block
	else if type === 'h2'
		+b.H2.text&attributes(attributes)
			block
	else if type === 'h3'
		+b.H3.text&attributes(attributes)
			block
	else if type === 'p'
		+b.P.text&attributes(attributes)
			block
